/*Contact information CSS */


.container {
  padding: 0 7%;
 
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 120px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #8056f5;
}

.content {
  max-width: 800px;
  text-align: center;
}

.content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin-top: 60px;
}

.content p {
  font-weight: 300;
  color: #fff;
}

.mini-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.text h3 {
  font-weight: 500;
  color: #8056f5;
}

.contact-form {
  width: 40%;
  margin-top: 40px;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
}

.contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input-box input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translate(-20px);
}

.input-box .hero-btn {
  margin: 0;
}

.contact-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-top: 50px;
}

/* Media queary for responsive */
@media (max-width: 700px) {
  /*content responsive css */
  .contact {
    padding: 50px;
  }

  .mini-container {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .contact-img img {
    width: 100%;
    height: 400px;
  }
}
